<div class="create-dialog-box scrollable-dialog">
  <div class="title d-flex align-items-center justify-content-space-between">
    <h4 class="mb-0">Change Password</h4>
    <button class="close-btn bg-transparent p-0 border-none" (click)="close()">
      <i class="flaticon-close"></i>
    </button>
  </div>
  <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="form-group">
          <label class="d-block fw-semibold">Current Password</label>
          <input
            formControlName="password"
            type="password"
            class="input-control"
            placeholder="Current Password"
          />
          <ng-container
            *ngIf="
              changePasswordForm?.get('password')?.invalid &&
              (changePasswordForm.get('password')?.dirty ||
                changePasswordForm.get('password')?.touched)
            "
          >
            <span
              class="error_showing text-danger"
              *ngIf="changePasswordForm.controls['password'].errors.required"
              >Password is required.</span
            >
            <span
              class="error_showing text-danger"
              *ngIf="changePasswordForm.controls['password'].errors.minlength"
              >Please provide password at least 8 characters.</span
            >
          </ng-container>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="form-group">
          <label class="d-block fw-semibold">New Password</label>
          <input
            formControlName="newPassword"
            type="password"
            class="input-control"
            placeholder="New Password"
          />
          <ng-container
            *ngIf="
              changePasswordForm?.get('password')?.valid &&
              changePasswordForm?.get('newPassword')?.invalid &&
              (changePasswordForm.get('newPassword')?.dirty ||
                changePasswordForm.get('newPassword')?.touched)
            "
          >
            <span
              class="error_showing text-danger"
              *ngIf="changePasswordForm.controls['newPassword'].errors.required"
              >New Password is required.</span
            >
            <span
              class="error_showing text-danger"
              *ngIf="
                changePasswordForm.controls['newPassword'].errors.minlength
              "
              >Please provide password at least 8 characters.</span
            >
          </ng-container>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="form-group">
          <label class="d-block fw-semibold">Confirm New Password</label>
          <input
            formControlName="confirmedPassword"
            type="password"
            class="input-control"
            placeholder="Confirm New Password"
          />
          <ng-container
            *ngIf="
              changePasswordForm?.get('newPassword')?.valid &&
              changePasswordForm?.get('confirmedPassword')?.invalid &&
              (changePasswordForm.get('confirmedPassword')?.dirty ||
                changePasswordForm.get('confirmedPassword')?.touched)
            "
          >
            <span
              class="error_showing text-danger"
              *ngIf="
                changePasswordForm.controls['confirmedPassword'].errors
                  .required ||
                changePasswordForm.controls['confirmedPassword'].errors
                  .minLength
              "
              >Confirm New Password should be matched with new password.</span
            >
          </ng-container>
        </div>
      </div>
    </div>
    <div class="text-end">
      <button type="button" class="gray" (click)="close()">
        <i class="ri-close-fill"></i> Cancel
      </button>
      <button type="submit"><i class="ri-add-fill"></i>Submit</button>
    </div>
  </form>
</div>
