<div
  class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between"
>
  <h3 class="mb-0">Admin Management</h3>
  <ol class="breadcrumb mb-0 ps-0">
    <li class="breadcrumb-item">
      <a routerLink="/dashboard">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item fw-semibold">Admin Management</li>
  </ol>
</div>

<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayout.md="column"
  fxLayoutGap="25px"
  fxLayoutGap.xs="0"
  fxLayoutGap.sm="0"
  fxLayoutGap.md="0"
>
  <div
    fxFlex="10%"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="100%"
    class="col mb-25"
    fxLayoutGap="10px"
  >
    <button mat-mini-fab color="primary" (click)="this.refresh(true)">
      <mat-icon>refresh</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      (click)="this.openCreateAdminDialog('300ms', '100ms')"
    >
      <mat-icon>add</mat-icon>
    </button>
    <!--<button mat-mini-fab color="warn">
      <mat-icon>delete</mat-icon>
    </button>-->
  </div>
  <div
    fxFlex="90%"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="100%"
    class="col mb-25"
  >
    <form class="tagus-search-box">
      <input
        type="text"
        class="input-search border-radius"
        placeholder="Search here"
        (input)="this.filter($event)"
      />
      <button type="submit"><i class="ri-search-line"></i></button>
    </form>
  </div>
</div>
<div class="row" [class.component-rtl-enabled]="themeService.isRTLEnabled()">
  <div
    class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4"
    *ngFor="let admin of this?.admins?.data?.docs"
  >
    <mat-card class="mb-25 text-center tagus-card">
      <mat-card-header class="mb-0">
        <!--<mat-checkbox
            *ngIf="admin.isActive"
            class="fm-checkbox"
            value="{{ admin.id }}"
            (change)="this.addToChecked($event)"
          ></mat-checkbox>-->
        <button
          type="button"
          mat-button
          class="position-relative dot-btn p-0 bg-transparent border-none"
          [matMenuTriggerFor]="monthMenu"
        >
          <i class="ri-more-fill"></i>
        </button>
        <mat-menu
          #monthMenu="matMenu"
          class="dotMenu monthMenu"
          xPosition="before"
        >
          <button
            (click)="this.openCreateAdminDialog('300ms', '100ms', admin)"
            mat-menu-item
            type="button"
            class="bg-transparent border-none position-relative"
          >
            <i class="ri-edit-line"></i> Edit
          </button>
          <button
            (click)="this.deleteAdmins(admin)"
            mat-menu-item
            type="button"
            class="bg-transparent border-none position-relative"
          >
            <i class="ri-delete-bin-line"></i> Delete
          </button>
        </mat-menu>
      </mat-card-header>
      <mat-card-content>
        <img
          src="{{ admin.picture }}"
          class="rounded-circle mb-15"
          width="150"
          alt="assets/img/user/user12.jpg"
        />
        <span class="d-block text-primary">{{ admin.role.name }}</span>
        <h5 class="mb-5 fw-semibold">
          {{ admin.fullName }}
        </h5>
        <span class="d-block muted-color">{{ admin.email }}</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayout.md="column"
  fxLayoutGap="25px"
  fxLayoutGap.xs="0"
  fxLayoutGap.sm="0"
  fxLayoutGap.md="0"
>
  <div
    fxFlex="100%"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="100%"
    class="col"
    fxLayoutAlign="center center"
  >
    <nav aria-label="Page navigation example text-center">
      <app-pagination
        *ngIf="this.admins"
        [paginator]="this.admins.data"
        (changePage)="this.getAdmins($event)"
      ></app-pagination>
    </nav>
  </div>
</div>
