<div
  class="h-100vh pt-50 pb-50"
  [class.component-dark-theme]="themeService.isDark()"
  [class.card-borderd-theme]="themeService.isCardBorder()"
  [class.card-border-radius]="themeService.isCardBorderRadius()"
  [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
  <div class="d-table">
    <div class="d-table-cell">
      <div class="tagus-form ms-auto me-auto">
        <div class="d-flex justify-content-center mb-10">
          <img src="assets/img/white-logo-icon.png" alt="logo-icon" />
        </div>
        <div class="title">
          <p>
            Please check your inbox, we have sent you an OTP to your email
            address!
          </p>
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
          <div class="bg-white border-radius pt-20 ps-20 pe-20">
            <div class="tagus-form-group without-icon">
              <label class="d-block mb-12 fw-semibold gray-color"
                >Verification Code <span>*</span></label
              >
              <mat-form-field appearance="fill">
                <mat-label>Enter your verification code</mat-label>
                <input
                  matInput
                  [type]="'text'"
                  autocomplete="off"
                  formControlName="code"
                />
              </mat-form-field>
              <ng-container
                *ngIf="
                  resetPasswordForm?.get('code')?.invalid &&
                  (resetPasswordForm.get('code')?.dirty ||
                    resetPasswordForm.get('code')?.touched)
                "
              >
                <span
                  class="error_showing text-danger"
                  *ngIf="resetPasswordForm.controls['code'].errors.required"
                  >Verification Code is required.</span
                >
                <span
                  class="error_showing text-danger"
                  *ngIf="resetPasswordForm.controls['code'].errors.minlength"
                  >Please provide verification code at least 25
                  characters.</span
                >
              </ng-container>
            </div>
            <div
              class="tagus-form-group without-icon"
              *ngIf="resetPasswordForm?.get('code')?.valid"
            >
              <label class="d-block mb-12 fw-semibold gray-color"
                >New Password <span>*</span></label
              >
              <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  autocomplete="off"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
              <ng-container
                *ngIf="
                  resetPasswordForm?.get('newPassword')?.invalid &&
                  (resetPasswordForm.get('newPassword')?.dirty ||
                    resetPasswordForm.get('newPassword')?.touched)
                "
              >
                <span
                  class="error_showing text-danger"
                  *ngIf="
                    resetPasswordForm.controls['newPassword'].errors.required
                  "
                  >Password is required.</span
                >
                <span
                  class="error_showing text-danger"
                  *ngIf="
                    resetPasswordForm.controls['newPassword'].errors.minlength
                  "
                  >Please provide verification code at least 8 characters.</span
                >
              </ng-container>
            </div>
            <div
              class="tagus-form-group without-icon"
              *ngIf="resetPasswordForm?.get('code')?.valid"
            >
              <label class="d-block mb-12 fw-semibold gray-color"
                >Confirm Password <span>*</span></label
              >
              <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  autocomplete="off"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>

              <ng-container
                *ngIf="
                  resetPasswordForm?.get('newPassword')?.valid &&
                  resetPasswordForm?.get('confirmedPassword')?.invalid &&
                  (resetPasswordForm.get('confirmedPassword')?.dirty ||
                    resetPasswordForm.get('confirmedPassword')?.touched)
                "
              >
                <span
                  class="error_showing text-danger"
                  *ngIf="
                    resetPasswordForm.controls['confirmedPassword'].errors
                      .required
                  "
                  >Must Be Matched With Password Above.</span
                >
                <span
                  class="error_showing text-danger"
                  *ngIf="
                    resetPasswordForm.controls['confirmedPassword'].errors
                      .minlength
                  "
                  >Must Be Matched With Password Above.</span
                >
              </ng-container>
            </div>
          </div>
          <button mat-flat-button class="tagus d-block fw-semibold">
            Set New Password
          </button>
          <div class="text-center back-to-login">
            <a
              routerLink="/authentication/login"
              class="d-inline-block main-color fw-medium position-relative"
              ><i class="flaticon-chevron-1"></i> Back to Login</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
